.BannerContainer {
    position: relative;
    margin-bottom: 5vh;
}

.ProjectTitle {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 10px;
    font-size: 2em;
    letter-spacing: .2rem;
}

.white {
    color: white;
}

.ProjectBanner {
    position: relative;
    z-index: 0;
    margin-top: 8.5vh;
    width: 45vw;
    aspect-ratio: 16/9;
    display: flex;
}

.Banner {
    flex: 1;
}

.ProjectDescription {
    font-size: 0.7em;
}

.TextContent {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.TextContent div {
    margin: 5vh 0 5vh;
}

.CodeBlock { 
    font-size: 0.6em !important;
}

.ImageBlock {
    width: 100%;
}

.BackButton {
    font-size: 0.8em;
    padding: 4%;
    white-space: nowrap;
    border-radius: 2% / 10%;
    background-color: #fc9153;
    border: solid 2px transparent;
    margin-bottom: 5vh;
}

.BackButton:hover {
    background-color: white;
    color: #fc9153;
    border: solid 2px #fc9153;
}