.IntroRoot {
    width:100%;
    margin: 5vh 0 5vh;  
}

.ProjectsRoot {
    width:100%;
    display: grid;
}

.ProjectContent {
    width: 75vw;
    min-height: 91vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Filters {
    display: flex;
    font-size: 0.5em;
    margin: 0 0 2vh;
}

.LanguageSelect {
    background-color: #282c34;
    border: none;
    margin: 0 1% 0;
}

.ProjectMosaicContainer {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 1%;
}

.ProjectMosaicElement {
    position: relative;
    width: 46%;
    margin: 2%;
}

@media only screen and (max-width: 1080px)  and (orientation: portrait) {
    .ProjectMosaicContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ProjectMosaicElement {
        width: 100%;
        margin-bottom: 2vh;
    }
}

.ProjectMosaicElement:hover .ProjectMosaicTitle {
    transform: translateY(0) scaleY(1);
    opacity: 1;
}

.ProjectMosaicTitle {
    position: absolute;
    top:0;
    right:5%;
    z-index: 1;
    background-color: black;
    font-size: 0.6em;
    padding: 2%;
    transform: translateY(-30px) scaleY(0);
    transition:
        transform 0.35s cubic-bezier(0.19, 1, 0.22, 1) 0.1s,
        opacity 0.35s cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
    opacity: 0;
}

.ProjectMosaicSquare {
    position:relative;
    width: 100%;
    z-index: 0;
}

.MosaicImage {
    width: 100%;
    border-radius: 1%;
}